#container {
  display: flex;
}

#box1 {
  background: pink;
  width: 100px;
  height: 100px;
  margin-right: 20px;
  text-align: center;
  line-height: 96px;
  user-select: none;
}

#box2 {
  background: pink;
  width: 100px;
  height: 100px;
  margin-right: 20px;
  text-align: center;
  line-height: 96px;
  user-select: none;
}

#box3 {
  background: pink;
  width: 100px;
  height: 100px;
  margin-right: 20px;
  text-align: center;
  line-height: 96px;
  user-select: none;
}

